{% extends "reservas/base.html" %}

{% block title %}Menú Principal{% endblock %}

{% block content %}
    <h1>Bienvenido al Sistema de Reservas</h1>
    
    <hr>
    
    <h2>Módulo de Clientes</h2>
    <ul>
        <li>
            <a href="{% url 'lista_clientes' %}">Ver todos los Clientes</a> 
        </li>
        <li>
            <a href="{% url 'crear_cliente' %}">Agregar Nuevo Cliente</a>
        </li>
    </ul>
    
    <hr>

    <h2>Módulo de Reservas</h2>
    <ul>
        <li>
            <a href="{% url 'lista_reservas' %}">Ver todas las Reservas</a> 
        </li>
        <li>
            <a href="{% url 'crear_reserva' %}">Crear Nueva Reserva</a>
        </li>
    </ul>
{% endblock %}
